:root {
  --primary: rgb(214, 106, 5);
}

body {
  margin: 0;
  font-family: 'Segoe UI', sans-serif;
  background: #f4f4f4;
}

.layout {
  display: flex;
}

.content {
  padding: 20px;
  width: 100%;
}

.sidebar {
  width: 220px;
  background: var(--primary);
  color: white;
  min-height: 90vh;
  margin-left: 20px;
  border-radius: 10px;
  padding: 20px;
  margin-top: 3vh;
}

.sidebar a {
  color: white;
  display: block;
  margin: 10px 0;
  text-decoration: none;
}

.card {
  background: white;
  padding: 15px;
  border-radius: 10px;
  margin-bottom: 15px;
}

.btn {
  background: var(--primary);
  color: white;
  border: none;
  padding: 8px 14px;
  border-radius: 6px;
  cursor: pointer;
}
